body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-root {
  min-height: 100vh;
  padding: 28px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.body-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media only screen and (max-width: 700px) {
  #root {
    align-items: normal;
    width: fit-content;
  }
}

@media only screen and (max-width: 720px) {
  #root, .page-root {
    width: 650px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 950px) {
  .page-root {
    width: 100%;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1350px) {
  .page-root {
    width: 78%;
  }
}

@media only screen and (min-width: 1350px) {
  .page-root {
    width: 1000px;
  }
}